@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.login-in{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100vw;
    min-height: 850px;
    height: 100vh;
    
    .form-login{
        width: 500px;
        height: 600px;
        display: flex;
        flex-direction: column; 
        align-items: center;
        // background-color: #3B82F6;
        margin-top: 100px;
        @media (max-width: 568px) {
            width: 450px;
        }
        @media (max-width: 475px) {
            width: 400px;
        }
        @media (max-width: 425px) {
            width: 350px;
        }
        @media (max-width: 375px) {
            width: 100%;
        }

        .login{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 600px;
           
            @media (max-width: 568px) {
                width: 450px;
            }
            @media (max-width: 475px) {
                width: 400px;
            }
            @media (max-width: 425px) {
                width: 350px;
            }
            @media (max-width: 375px) {
                width: 100%;
            }

            .login-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                min-height: 600px;
             
                // background-color: burlywood;
                // @media (max-width: 1280px) {
                //     width: 35%;
                // }
                // @media (max-width: 1080px) {
                //     width: 40%;
                // }
                // @media (max-width: 940px) {
                //     width: 45%;
                // }
                // @media (max-width: 868px) {
                //     width: 55%;
                // }
                // @media (max-width: 768px) {
                //     width: 60%;
                // }
                // @media (max-width: 630px) {
                //     width: 70%;
                // }
                
                .login-title{
                    display: flex;
                    
                    flex-direction: column;
                    align-items: center;
                    width: 45%;
                    height: 40%;
                    // background-color: #60A5FA;
                    margin-bottom: 0px;

                    .title{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif; /* para Hotel */
                        font-size: 70px;
                        line-height: 0.9;

                        .title-sub{
                            font-family: "Bebas Neue", sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 90px;
                            letter-spacing: 18px;
                        }
                    }

                    
                }

                .login-email{
                    display: flex;
                    flex-direction: column;
                    width: 85%;
                    height: 17%;
                    // background-color: #45934f;
                    
                    @media (max-width: 375px) {
                        width: 90%;
                    }

                    .error-input{
                        width: 80%;
                        height: 30%;
                        letter-spacing: 0.2px;
                        font-weight: 400;
                        color: red;
                        opacity: 0.8;
                    }

                    .lab{
                        overflow: hidden;
                    }

                    .email{
                        width: 80%;
                        height: 30%;
                        letter-spacing: 0.2px;
                        font-weight: 400;
                        color: #000000;
                        opacity: 0.8;
                    }
                      
                    .email-input{
                        width: 100%;
                        height: 48px;
                        border-radius: 8px;
                        border: #202020 solid 1px;
                    }
                      
                    .email-input{
                        outline: none;
                    }
                      
                    .email-input[type=text]{
                        padding-left: 1rem;
                        font-size: 1rem;
                        font-weight: 350;
                    }
                }

                .login-password{
                    display: flex;
                    flex-direction: column;
                    width: 85%;
                    height: 20%;
                    // background-color: coral;
                    @media (max-width: 375px) {
                        width: 90%;
                    }

                    .error-input{
                        width: 80%;
                        height: 30%;
                        letter-spacing: 0.2px;
                        font-weight: 400;
                        color: red;
                        opacity: 0.8;
                    }

                    .password{
                        width: 80%;
                        height: 30%;
                        letter-spacing: 0.2px;
                        font-weight: 400;
                        color: #000000;
                        opacity: 0.8;
                    }
                      
                    .password-input{
                        width: 100%;
                        height: 40%;
                        border-radius: 8px;
                        border: #202020 solid 1px;
                    }
                      
                    .password-input{
                        outline: none;
                    }
                      
                    .password-input[type=password]{
                        padding-left: 1rem;
                        font-size: 1rem;
                        font-weight: 350;
                    }
                      
                    .password-save{
                        width: 80%;
                        height: 35%;
                        display: flex;
                        align-items: center;
                        text-decoration: underline;
                        color: #60A5FA; 
                        cursor: pointer;
                    }

                    .password-save:hover{
                        color: #2460c2;
                    }
                }

                .login-button{
                    display: flex;
                    align-items: flex-end;
                    width: 85%;
                    height: 10%;    
                    // background-color: teal;

                    .log-in{
                        width: 100%;
                        height: 48px; //40px
                        border-radius: 8px;
                        font-size: 1rem;
                        border: none;
                        background-color: #3B82F6;
                        color: #ffffff;
                        font-weight: 500;
                    }

                    .log-in:hover{
                        cursor: pointer;
                        background-color: #2460c2;
                    }
                }

                .login-recover{
                    display: flex;
                    align-items: center;
                    width: 85%;
                    height: 10%;
                    // background-color: blueviolet;
                    gap: 5px;
                    @media (max-width: 400px) {
                        font-size: 0.9rem;
                    }
                    @media (max-width: 375px) {
                        font-size: 0.85rem;
                    }

                    .login-create{
                        color: #60A5FA;
                        text-decoration: underline;
                    }

                    .login-create:hover{
                        color: #2460c2;
                    }
                }
            }
        }

        .google-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            .google-signin-container{
                
            }
        }
    }
}